<div class='sheet-notes'> <!-- Hier beginnt der Charakterinfo-Tab-->

    <div>
        <h3>Besondere Kenntnisse:&nbsp;&nbsp;<span style="width: 50px;" title="Erlangtes Wissen das der Charakter besitzt"><img src="../../systems/toeloria/icons/info.svg" style="height: 15px; width: 15px; border: none;"></img></span></h3>
        <textarea style="width: 800px; height: 250px;" name="data.Lore.value" title="lores">{{data.Lore.value}}</textarea>
        <h3>Notizen:&nbsp;&nbsp;<span style="width: 50px;" title="Notizen die sich der Charakter angelegt hat"><img src="../../systems/toeloria/icons/info.svg" style="height: 15px; width: 15px; border: none;"></img></span></h3>
        <textarea style="width: 800px; height: 250px;" name="data.Note.value" title="notes">{{data.Note.value}}</textarea>
    </div>

</div>
