<label style="width: 150px; color: rgb(0, 0, 0); text-align: center;">Fähigkeits Bereich</label>
<div class="section-body">
	<ol class="skills-list item-list">
		{{#each skills as |skill skillId|}}
			<div class="item skill flexrow" data-item-id="{{skill._id}}">
				<table class="attribute_center" border="2">
					<tbody>
						<tr>
							<th nowrap align="center" class="sheet-table-header-left" style="width: 130px;">Fähigkeit:</th>
							<th nowrap align="center" class="sheet-table-header-left" style="width: 130px;">Typus:</th>
							<th nowrap align="center" class="sheet-table-header-left" style="width: 130px;">Schwierigkeit</th>
							<th nowrap align="center" class="sheet-table-header-left" style="width: 130px;">Wert:</th>
							<th nowrap align="center" class="sheet-table-header-left" style="width: 130px;">Anwenungsstufe:</th>
							<th nowrap align="center" class="sheet-table-header-left" style="width: 82px;">Makro:</th>
							<th nowrap align="center" class="sheet-table-header-left" style="width: 82px;">Entfernen:</th>
						</tr>
						<tr>
							<td nowrap align="center" class="sheet-table-header-left" style="width: 131px;">
								<span style="width: 50px;" title="Die Belastsamkeit des Körpers">&nbsp;<a class="item-edit">{{skill.name}}</a>&nbsp;&nbsp;<img src="../../systems/toeloria/icons/info.svg" style="height: 15px; width: 15px; border: none;"></img>&nbsp;</span>
							</td>
							<td nowrap align="center">
								&nbsp;
								<select
									class=""
									style="height: 24px; width: 80px; font-size: 0.75em"
									name="data.SkillTypus.value"
									title="Ability used for feet"
								>
									<option type="text" style="width: 45px" value="{{item.data.SkillTypus.value}}" selected>Magie</option>
									<option type="text" style="width: 45px" value="{{item.data.SkillTypus.value}}">Glaube</option>
									<option type="text" style="width: 45px" value="{{item.data.SkillTypus.value}}">Chakra</option>
								</select>&nbsp;
							</td>
							<td nowrap align="center">
								&nbsp;<input
									type="number"
									class=""
									style="width: 45px"
									value="{{item.data.SkillDifficult.value}}"
									disabled="true"
								/>&nbsp;
							</td>
							<td nowrap align="center" class="">
								&nbsp;
								<select
									class="changeable-value"
									data-property="data.SkillValue.value"
									style="height: 24px; width: 50px; font-size: 0.75em"
									title="Ability used for feet"
								>
									<option type="number" style="width: 45px" value="{{item.data.SkillValue.value}}">0</option>
									<option type="number" style="width: 45px" value="{{item.data.SkillValue.value}}">1</option>
									<option type="number" style="width: 45px" value="{{item.data.SkillValue.value}}">2</option>
									<option type="number" style="width: 45px" value="{{item.data.SkillValue.value}}">3</option>
									<option type="number" style="width: 45px" value="{{item.data.SkillValue.value}}">4</option>
									<option type="number" style="width: 45px" value="{{item.data.SkillValue.value}}">5</option>
									<option type="number" style="width: 45px" value="{{item.data.SkillValue.value}}">6</option>
								</select>&nbsp;
							</td>
							<td nowrap align="center" class="">
								&nbsp;
								<select
								<select
									class="changeable-value"
									data-property="data.SkillUsage.value"
									style="height: 24px; width: 50px; font-size: 0.75em"
									title="Ability used for feet"
								>
									<option type="number" style="width: 45px" value="{{item.data.SkillUsage.value}}">1</option>
									<option type="number" style="width: 45px" value="{{item.data.SkillUsage.value}}">2</option>
									<option type="number" style="width: 45px" value="{{item.data.SkillUsage.value}}">3</option>
									<option type="number" style="width: 45px" value="{{item.data.SkillUsage.value}}">4</option>
									<option type="number" style="width: 45px" value="{{item.data.SkillUsage.value}}">5</option>
									<option type="number" style="width: 45px" value="{{item.data.SkillUsage.value}}">6</option>
								</select>&nbsp;
							</td>
							<td nowrap align="center" class="rollable" data-roll-type="item">&nbsp;<button type="button" style="background-image:url(../../systems/toeloria/icons/d12_kl.png); height: 27px; width: 27px;"></button>&nbsp;</td>
							<td nowrap align="center" ><span class="item-delete delete">&nbsp;<i class="fas fa-trash"></i>&nbsp;</span></td>
						</tr>
					</tbody>
					<tbody>
						<tr>
                            <td nowrap align="center">&nbsp;<b>Gegenmaßnahmen:</b>&nbsp;&nbsp;</td>
                            <td nowrap align="center">&nbsp;&nbsp;&nbsp;&nbsp; Ausweichbar: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td nowrap align="center"><input type="checkbox" class="skill-evade_value inline-edit" data-field="data.Countermeasures.evade_value" name="data.Countermeasures.evade_value" value="{{checked item.data.Countermeasures.evade_value}}" readonly disabled title="Ausweichbar" /></td>
                            <td nowrap align="center">&nbsp;&nbsp;&nbsp;&nbsp; Widerstehbar: &nbsp;&nbsp;&nbsp;</td>
                            <td nowrap align="center"><input type="checkbox" class="skill-resist_value inline-edit" data-field="data.Countermeasures.resist_value" name="data.Countermeasures.resist_value" value="{{checked item.data.Countermeasures.resist_value}}" readonly disabled title="Widerstehbar" /></td>
                            <td nowrap align="center">&nbsp;&nbsp;&nbsp;&nbsp; Parierbar: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td nowrap align="center"><input type="checkbox" class="skill-parry_value inline-edit" data-field="data.Countermeasures.parry_value" name="data.Countermeasures.parry_value" value="{{checked item.data.Countermeasures.parry_value}}" readonly disabled title="Parierbar" /></td>
                            <td nowrap align="center">&nbsp;&nbsp;&nbsp;&nbsp; Konterbar: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td nowrap align="center"><input type="checkbox" class="skill-counter_value inline-edit" data-field="data.Countermeasures.counter_value" name="data.Countermeasures.counter_value" value="{{checked item.data.Countermeasures.counter_value}}" readonly disabled title="Konterbar" /></td>
                            <td nowrap align="center">&nbsp;&nbsp;&nbsp;&nbsp; Unaufhaltbar: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td nowrap align="center"><input type="checkbox" class="skill-ultima_value inline-edit" data-field="data.Countermeasures.ultima_value" name="data.Countermeasures.ultima_value" value="{{checked item.data.Countermeasures.ultima_value}}" readonly disabled title="Unaufhaltbar" /></td>
                        </tr>
					</tbody>
				</table>
			</div>
		{{/each}}
	</ol>
</div>