<label style="width: 150px; color: rgb(0, 0, 0); text-align: center;">Fähigkeits Bereich</label>

<div class="section-body">
	<ol class="features-list item-list">
		<div class="item skill flexrow">
			<table class="attribute_center" border="2">
				<tbody>  
					<tr>
						<th nowrap colspan="2" style="width: 200px;"><label class="sheet-table-header" style="width: 150px; text-align:center; color: rgb(0, 0, 0);">Kosmische Kräfte</label></th>
						<th nowrap style="width: 72px;"><label class="sheet-table-header" style="width: 150px; text-align:center; color: rgb(0, 0, 0);">Wert</label></th>
						<th nowrap colspan="2" style="width: 200px;"><label class="sheet-table-header" style="width: 150px; text-align:center; color: rgb(0, 0, 0);">Kosmische Kräfte</label></th>
						<th nowrap style="width: 72px;"><label class="sheet-table-header" style="width: 150px; text-align:center; color: rgb(0, 0, 0);">Wert</label></th>
						<th nowrap colspan="2" style="width: 200px;"><label class="sheet-table-header" style="width: 150px; text-align:center; color: rgb(0, 0, 0);">Kosmische Kräfte</label></th>
						<th nowrap style="width: 72px;"><label class="sheet-table-header" style="width: 150px; text-align:center; color: rgb(0, 0, 0);">Wert</label></th>
					</tr>
					<tr style="width: 120px;">
						<td colspan="12" style="height: 15px; font-size: 13px; text-align:center; color: rgb(255, 50, 0);" border="1">Kanalisierungen</td>
					</tr> 
					<tr style="width: 150px;">
						<td nowrap align="center" style="border-right: 1px;"><label class="sheet-table-header" style="width: 120px; text-align:center; color: rgb(0, 0, 0);">Magie-Kanalisierung:</label></td>
							<td nowrap align="center" style="border-left: 1px;"><span style="width: 50px;" title="Magie-Kanalisierung">&nbsp;<img src="../../systems/toeloria/icons/info.svg" style="height: 15px; width: 15px; border: none;"></img></span>&nbsp;&nbsp;</td>
						<td nowrap align="center"><input type="number" name="data.Channeling.Magic" style="width:35px; text-align:center;" title="Kanalisierung der magischen Kräfte" value="{{actor.data.Channeling.Magic}}"></td>
						<td nowrap align="center" style="border-right: 1px;"><label class="sheet-table-header" style="width: 120px; text-align:center; color: rgb(0, 0, 0);">Segens-Kanalisierung:</label></td>
							<td nowrap align="center" style="border-left: 1px;"><span style="width: 50px;" title="Segens-Kanalisierung">&nbsp;<img src="../../systems/toeloria/icons/info.svg" style="height: 15px; width: 15px; border: none;"></img></span>&nbsp;&nbsp;</td>
						<td nowrap align="center"><input type="number" name="data.Channeling.Faith" style="width:35px; text-align:center;" title="Kanalisierung der gesegneten Kräfte" value="{{actor.data.Channeling.Faith}}"></td>
						<td nowrap align="center" style="border-right: 1px;"><label class="sheet-table-header" style="width: 120px; text-align:center; color: rgb(0, 0, 0);">Askese-Kanalisierung:</label></td>
							<td nowrap align="center" style="border-left: 1px;"><span style="width: 50px;" title="Askese-Kanalisierung">&nbsp;<img src="../../systems/toeloria/icons/info.svg" style="height: 15px; width: 15px; border: none;"></img></span>&nbsp;&nbsp;</td>
						<td nowrap align="center"><input type="number" name="data.Channeling.Spirit" style="width:35px; text-align:center;" title="Kanalisierung der askesischen Kräfte" value="{{actor.data.Channeling.Spirit}}"></td>
						</tr>
					<tr style="width: 120px;">
						<td colspan="12" style="height: 15px; font-size: 13px; text-align:center; color: rgb(255, 50, 0);" border="1">Kosmische Energie</td>
					</tr>
					<tr style="width: 150px;">
						<td nowrap align="center" style="border-right: 1px;"><label class="sheet-table-header" style="width: 120px; text-align:center; color: rgb(0, 0, 0);">Kosmische Macht:</label></td>
						<td nowrap align="center" style="border-left: 1px;"><span style="width: 50px;" title="Kosmische Macht">&nbsp;<img src="../../systems/toeloria/icons/info.svg" style="height: 15px; width: 15px; border: none;"></img></span>&nbsp;&nbsp;</td>
						<td nowrap align="center"><input type="number" name="data.ChannelResources.ManaCom" style="width:35px; text-align:center;" title="Gesamtmenge der kosmischen Kraft" value="{{actor.data.ChannelResources.ManaCom}}" disabled></td>
						<td nowrap align="center" style="border-right: 1px;"><label class="sheet-table-header" style="width: 120px; text-align:center; color: rgb(0, 0, 0);">Aktuelle Macht:</label></td>
						<td nowrap align="center" style="border-left: 1px;"><span style="width: 50px;" title="Aktuelle Macht">&nbsp;<img src="../../systems/toeloria/icons/info.svg" style="height: 15px; width: 15px; border: none;"></img></span>&nbsp;&nbsp;</td>
						<td nowrap align="center"><input type="number" name="data.ChannelResources.Mana" style="width:35px; text-align:center;" title="Aktuelle Menge der kosmischen Kraft" value="{{actor.data.ChannelResources.Mana}}" disabled></td>
						<td nowrap align="center" style="border-right: 1px;"><label class="sheet-table-header" style="width: 120px; text-align:center; color: rgb(0, 0, 0);">Kosmische Regeneration:</label></td>
						<td nowrap align="center" style="border-left: 1px;"><span style="width: 50px;" title="Kosmische Regeneration">&nbsp;<img src="../../systems/toeloria/icons/info.svg" style="height: 15px; width: 15px; border: none;"></img></span>&nbsp;&nbsp;</td>
						<td nowrap align="center"><input type="number" name="data.ChannelResources.ManaReg" style="width:35px; text-align:center;" title="Regenerationsmenge der kosmischen Kraft" value="{{actor.data.ChannelResources.ManaReg}}" disabled></td>
					</tr>
				</tbody>
			</table>
		</div>
	</ol>
</div>


<!--
<input type="hidden" name="attr_Cosmo_reg" value="[[((([[1d6]]+@{Cosmo_rega})*2)+(@{spleep}))]]">
-->

<div class="section-body">
	<ol class="skills-list item-list">
		{{#each skills as |skill skillId|}}
			<div class="item skill flexrow" data-item-id="{{skill._id}}">
				<table class="attribute_center" border="2">
					<tbody>
						<tr>
							<th nowrap align="center" class="sheet-table-header-left" style="width: 130px;">Fähigkeit:</th>
							<th nowrap align="center" class="sheet-table-header-left" style="width: 130px;">Typus:</th>
							<th nowrap align="center" class="sheet-table-header-left" style="width: 130px;">Schwierigkeit</th>
							<th nowrap align="center" class="sheet-table-header-left" style="width: 130px;">Wert:</th>
							<th nowrap align="center" class="sheet-table-header-left" style="width: 130px;">Anwenungsstufe:</th>
							<th nowrap align="center" class="sheet-table-header-left" style="width: 83px;">Makro:</th>
							<th nowrap align="center" class="sheet-table-header-left" style="width: 82px;">Entfernen:</th>
						</tr>
						<tr>
							<td nowrap align="center" class="sheet-table-header-left" style="width: 131px;">
								<span style="width: 50px;" title="{{data.ItemDiscription.value}}">&nbsp;<a class="item-edit">{{skill.name}}</a>&nbsp;&nbsp;<img src="../../systems/toeloria/icons/info.svg" style="height: 15px; width: 15px; border: none;"></img>&nbsp;</span>
							</td>
							<td nowrap align="center">
								&nbsp;<input
									type="text"
									class=""
									style="width: 60px"
									title="Gaben Typus"
									value="{{skill.data.SkillTypus.value}}"
									disabled="true"
								/>&nbsp;
							</td>
							<td nowrap align="center">
								&nbsp;<input
									type="number"
									class=""
									style="width: 45px"
									title="Standardschwierigkeit"
									value="{{skill.data.SkillDifficult.value}}"
									disabled="true"
								/>&nbsp;
							</td>
							
							<td nowrap align="center" class="">
								&nbsp;
								<select
									class="skill-value inline-edit"
									name="data.SkillValue.value"
									id="data.SkillValue.value"
									data-property="data.SkillValue.value"
									data-field="data.SkillValue.value"
									style="height: 24px; width: 50px; font-size: 0.75em"
									title="Fähigkeitswert der Gabe"
									placeholder="0"
								>
									<option id="data.SkillValue.value" value="{{skill.dataSkillValue.value}}" hidden="hidden" selected="selected">{{skill.data.SkillValue.value}}</option>
									<option type="number" style="width: 45px" value="0">0</option>
									<option type="number" style="width: 45px" value="1">1</option>
									<option type="number" style="width: 45px" value="2">2</option>
									<option type="number" style="width: 45px" value="3">3</option>
									<option type="number" style="width: 45px" value="4">4</option>
									<option type="number" style="width: 45px" value="5">5</option>
									<option type="number" style="width: 45px" value="6">6</option>
								</select>&nbsp;
							</td>

							<td nowrap align="center" class="">
								&nbsp;
								<select
									class="skill-value inline-edit"
									name="data.SkillUsage.value"
									id="data.SkillUsage.value"
									data-property="data.SkillUsage.value"
									data-field="data.SkillUsage.value"
									style="height: 24px; width: 50px; font-size: 0.75em"
									title="Stufen der Gabe die angewendet wird"
								>
									<option id="data.SkillUsage.value" value="{{skill.data.SkillUsage.value}}" hidden="hidden" selected="selected">{{skill.data.SkillUsage.value}}</option>
									<option type="number" style="width: 45px" value="1">1</option>
									<option type="number" style="width: 45px" value="2">2</option>
									<option type="number" style="width: 45px" value="3">3</option>
									<option type="number" style="width: 45px" value="4">4</option>
									<option type="number" style="width: 45px" value="5">5</option>
									<option type="number" style="width: 45px" value="6">6</option>
								</select>&nbsp;
							</td>
							
							<td nowrap align="center" class="rollable" data-roll-type="item">&nbsp;<button type="button" style="background-image:url(../../systems/toeloria/icons/knowledge_klein.png); height: 27px; width: 27px;" title="Würfel Makro"></button>&nbsp;</td>
							<td nowrap align="center" ><span class="item-delete delete">&nbsp;<i class="fas fa-trash"></i>&nbsp;</span></td>
						</tr>
					</tbody>
					<tbody>
						<tr>
                            <td nowrap align="center">&nbsp;<b>Gegenmaßnahmen:</b>&nbsp;&nbsp;</td>
                            <td nowrap align="center">&nbsp;&nbsp;&nbsp;&nbsp; Ausweichbar: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td nowrap align="center"><input type="checkbox" class="skill-evade_value inline-edit" data-field="skill.data.Countermeasures.evade_value" name="data.Countermeasures.evade_value" {{checked skill.data.Countermeasures.evade_value}} readonly disabled title="Ausweichbar" /></td>
                            <td nowrap align="center">&nbsp;&nbsp;&nbsp;&nbsp; Widerstehbar: &nbsp;&nbsp;&nbsp;</td>
                            <td nowrap align="center"><input type="checkbox" class="skill-resist_value inline-edit" data-field="skill.data.Countermeasures.resist_value" name="data.Countermeasures.resist_value" {{checked skill.data.Countermeasures.resist_value}} readonly disabled title="Widerstehbar" /></td>
                            <td nowrap align="center">&nbsp;&nbsp;&nbsp;&nbsp; Parierbar: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td nowrap align="center"><input type="checkbox" class="skill-parry_value inline-edit" data-field="skill.data.Countermeasures.parry_value" name="data.Countermeasures.parry_value" {{checked skill.data.Countermeasures.parry_value}} readonly disabled title="Parierbar" /></td>
                            <td nowrap align="center">&nbsp;&nbsp;&nbsp;&nbsp; Konterbar: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td nowrap align="center"><input type="checkbox" class="skill-counter_value inline-edit" data-field="skill.data.Countermeasures.counter_value" name="data.Countermeasures.counter_value" {{checked skill.data.Countermeasures.counter_value}} readonly disabled title="Konterbar" /></td>
                            <td nowrap align="center">&nbsp;&nbsp;&nbsp;&nbsp; Unaufhaltbar: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td nowrap align="center"><input type="checkbox" class="skill-ultima_value inline-edit" data-field="skill.data.Countermeasures.ultima_value" name="data.Countermeasures.ultima_value" {{checked skill.data.Countermeasures.ultima_value}} readonly disabled title="Unaufhaltbar" /></td>
                        </tr>
					</tbody>
				</table>
			</div>
		{{/each}}
	</ol>
</div>